body{
  padding: 30px;
}
input{
  padding: 8px 10px;
  outline: none;
  font-size: 1.2em;
}

button{
  padding: 8px 12px;
  font-size: 1.2em;
  border: 1px solid gray;
  border-radius: 3px;
  color: black;
}